#bootstrap-overrides{
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
}

#bootstrap-overrides a{
  font-weight: 500;
  font-size: 1em;
  line-height: 1.67em;  
  color: #858789;
  text-decoration: underline;
}

#bootstrap-overrides body, p {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.09em;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bootstrap-overrides h1 {
  font-weight: 600;
  font-size: 2.93em;
  line-height: 3.56em;
  color: #000000;
}
#bootstrap-overrides h2 {
  font-weight: 500;
  font-size: 2.01em;
  line-height: 2.23em;
  color: #262626;
}
#bootstrap-overrides h3 {
  font-weight: 600;
  font-size: 1.51em;
  line-height: 1.84em;
  color: #858789;
}

.btn.btn-secondary {
  width: 245px;
  height: 44px;
  filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.2));
  background: #ffffff;
  border: 2.5px solid #f4cd9c;
  box-sizing: border-box;
  border-radius: 10px;
}
 .btn.btn-primary {
  width: 153px;
  height: 40px;
  filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.2));
  border-color:#BDCEAE ;
  background: #BDCEAE;
  border-radius: 10px;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 25px;

text-transform: uppercase;

color: #2E404B;
  
  text-transform: uppercase;
  
  color: #2E404B;
}

.btn-primary:disabled {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}

.btn-secomdary:disabled {
  background: #FFFFFF;
  border: 2.5px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 5px;
}




#bootstrap-overrides .home-btn-container {
  width: 50%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 205%;
  text-transform: uppercase;
  padding: 2em 0 5em;
}

#bootstrap-overrides .btn-home-page {
  width: 100%;
  height: 3.025em;
  margin: 0 auto;
  border-color: #BDCEAE;
  background: #bdceae;
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  color: black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 205%;
  text-transform: uppercase;
}

.home-sub-head {
  text-align: center;
    padding: 2%;
}

#bootstrap-overrides .header-h1 {
  width: 100%;
  height: 130px;
  top: 205px;
  text-align: center;
  color: #000000;
}

#bootstrap-overrides .home-subtitle {
  width: 100%;
  height: 4.75em;
  text-align: center;
  color: #858789;
}
  
  .hm-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 54.5em;
  }
#bootstrap-overrides .home-hero {
  width: 90%;
  height: 25em;
  padding-left: 4em;
}

.home-content-p{
  width: 70%;
  margin: 0 auto;
}

.hm-line-divider{
  border: 0.03125em solid #D9D9D9;
  width: 17.75em;
}

.hm-content-card{
  text-align: center;

}
.home-page-content {
  position: absolute;
  width: 312px;
  height: 872.69px;
  left: 50px;
  top: 605.04px;
  border: 2.5px solid #f4cd9c;
}
#bootstrap-overrides .home-page-features-header {
  position: absolute;
  width: 183px;
  height: 29px;
  left: 60px;
  top: 30.94px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #000000;
  
}
.home-content-p-long{
  margin: auto 0px auto 1.475em;
  text-align: left;
  word-break: break-word;
}
.closing-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4em 1.4em 1.4em;
}

.page-footer {
height: 38.875em;
background: rgba(244, 205, 156, 0.4);
}

.home-about{
  width: 100%;
  height: 20em
}

.form-logo{
  width: 40%;
  height: 100%;
  padding-top: 5em;
}
.form-logo-signup{
  width: 40%;
  height: 100%;
  padding-top: 5em;
}

.form-wrapper{
  padding-top: 5%;
  width: 75%;
  margin: 0 auto;
 
}

.form-wrapper-signup{
  padding-top: 5%;
  width: 75%;
  margin: 0 auto;
}

.form-header{
  text-align: center;
}
.login-btn-container{
  padding-top: 5em;
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control:focus{
  border: 2px solid #ED8989;
  box-shadow: 0px 1px 1px #ED8989 inset, 0px 0px 8px #ED8989;
}




.hm-footer-c{
  text-align: center;
  padding-top: 3em;
}

.delete_journal_btn{
  width: 10%;
}

.calendar{
  width: 100%;
}

.about-us-subhead{
  text-align: center;
  padding-top: 1.5em;
}


@media (max-width: 600px) {
  .hm-content-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) {
  .sign-up-btn-container {
    width: 25%;
  }
}
