#bootstrap-overrides {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;

  #footer-wrapper {
    width: 100%;
    grid-area: footer;
    background: rgba(244, 205, 156, 0.4);
  }

.test{
  position: absolute;
  height: 100%;
  width: 100%;
}

  .btn.btn-secondary {
    width: 245px;
    height: 44px;
    filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.2));
    background: #ffffff;
    border: 2.5px solid #f4cd9c;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .btn.btn-primary {
    z-index: -1;
    width: 153px;
    height: 40px;
    filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.2));
    border-color: #bdceae;
    background: #bdceae;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #2e404b;
    text-transform: uppercase;
    color: #2e404b;
    position: relative;
  }

  .btn-primary:disabled {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
  }

  .btn-secomdary:disabled {
    background: #ffffff;
    border: 2.5px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .accordion > .card > .card-header {
    background-color: white;
    border: 3px solid #bdceae;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 1.75em;
  }

  .dsh-accord-card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px;
    border-radius: 0px;
  }

  #hm-btn-signed-out {
    text-decoration: none;
    width: 5.6875em;
    height: 2.75em;
    margin: auto;
    filter: drop-shadow(0px 4px 10px rgba(196, 196, 196, 0.2));
  }
}

//
//
//links and text
//
//
a {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.67em;
  color: #858789;
  text-decoration: underline;
}
p {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.09em;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 500;
  font-size: 2.01em;
  line-height: 2.23em;
  color: #262626;
}
h3 {
  font-weight: 600;
  font-size: 1.51em;
  line-height: 1.84em;
  color: #858789;
}
//
//
//end links and text
//
//

//max viewport size
.App {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 39em;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.navbar {
  position: absolute;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hm-wrapper {
  grid-area: main;
}

.hm-btn-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 205%;
  text-transform: uppercase;
  padding: 2em 0 5em;
}
.btn-hm {
  width: 100%;
  height: 3.025em;
  margin: 0 auto;
  border-color: #bdceae;
  background: #bdceae;
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  color: black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 205%;
  text-transform: uppercase;
}

.hm-sub-head {
  text-align: center;
  padding: 2%;
}

.header-h1 {
  height: 40px;
  top: 205px;
  font-weight: 600;
  color: #000000;
}

.hm-subtitle {
  width: 100%;
  height: 4.75em;
  text-align: center;
  color: #858789;
}

.hm-hero {
  width: 100%;
  height: 25em;
}

.hm-content-p {
  width: 70%;
  margin: 0 auto;
}

.hm-line-divider {
  border: 0.03125em solid #d9d9d9;
  width: 17.75em;
}

.hm-header-divider {
  border: 0.03125em solid #d9d9d9;
  width: 100%;
  grid-area: header;
  position: absolute;
  top: 10.8125em;
}

.hm-content-card {
  text-align: center;
}

.hm-content-p-long {
  margin: auto 0px auto 1.475em;
  text-align: left;
  word-break: break-word;
}
.closing-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4em 1.4em 1.4em;
}
.page-footer {
  height: 37em;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  transform: scaleX(-1);
}

.hm-about {
  width: 100%;
  height: 20em;
}
.nav-link {
  width: 7em;
}
.form-logo {
  width: 40%;
  height: 100%;
  padding-top: 5em;
}
.form-logo-signup {
  width: 40%;
  height: 100%;
  padding-top: 5em;
}

.form-wrapper {
  padding-top: 5%;
  width: 75%;
  margin: 0 auto;
}

.form-wrapper-signup {
  padding-top: 5%;
  width: 75%;
  margin: 0 auto;
}

.form-header {
  text-align: center;
}
.login-btn-container {
  padding-top: 5em;
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control:focus {
  border: 2px solid #ed8989;
  box-shadow: 0px 1px 1px #ed8989 inset, 0px 0px 8px #ed8989;
}

.hm-footer-c {
  text-align: center;
  padding-top: 3em;
  transform: scaleX(-1);
}

.delete_journal_btn {
  width: 10%;
}

.calendar {
  width: 100%;
}

.about-us-subhead {
  text-align: center;
  padding-top: 1.5em;
}

.header {
  grid-area: header;
  height: 6.375em;
}

#bootstrap-overrides .navbar-brand {
  display: inline-block;
  // padding-top: .3125rem;
  // padding-bottom: .3125rem;
  // margin-right: 1rem;
  // font-size: 1.25rem;
  // line-height: inherit;
  // white-space: nowrap;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 2000;
  top: 0;
}

.logo-main {
  width: 56.94px;
  height: 44px;
}

.dsh-title {
  grid-row: 2;
  padding-bottom: 1em;
}

.dsh-wrapper {
  display: grid;
  text-align: center;
  padding-bottom: 73.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.dsh-accord-accord {
  padding-bottom: 3em;
  width: 80%;
}

//
//
// Mobile (All styles are mobile-first, but styles below refer to specific responsive behaviors
//
//
@media screen and (max-width: 600px) {
  .navbar .navbar-collapse {
    background: #ffffff;
    position: relative;
    width: 100%;
  }
}

//
//
// Desktop
//
//
@media screen and (min-width: 600px) {
  .App {
    position: relative;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 39em;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }

  .hm-content-wrapper {
    display: flex;
    width: 70.375em;
    margin: 0 auto;
  }
  .page-footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 25em;
    transform: scaleX(-1);
  }
}

@media (min-width: 600px) {
  .sign-up-btn-container {
    width: 25%;
  }
}
